/* main color */
.hover-link:hover {
  color: #ffc66b;
  transition-duration: 0.5s;
}
.hover-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
}
.head-text {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 28px;
  color: #525151;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .head-text {
    font-size: 20px;
  }
}
/* main fonts */
@font-face {
  font-family: Tahoma-Regular;
  src: url(/font/Tahoma.ttf);
}
@font-face {
  font-family: Tahoma-Bold;
  src: url(/font/Tahoma-Bold.ttf);
}
.tah-reg {
  font-family: Tahoma-Regular;
  font-weight: 400;
}
.tah-bold {
  font-family: Tahoma-Bold;
  font-weight: 700;
}
/* main settings */
/* header section */
.grey-line {
  width: 100%;
  height: 1px;
  background-color: #e3676c;
  margin-top: 4%;
  position: absolute;
}
header {
  padding: 20px;
  background-color: #d7252c;
}
.header-main-nav a {
  color: #ffffff;
  font-size: 14px;
  margin-left: 15px;
}
.header-main-nav a:hover {
  color: #ffc66b;
  transition-duration: 0.5s;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .header-main-nav a {
    margin-left: 7px;
    font-size: 12px;
  }
}
.header-user-nav i {
  color: #fffffF;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .header-user-nav i {
    font-size: 13px;
  }
}
.header-user-nav a {
  color: #ffffff;
  font-size: 14px;
  margin-left: 10px;
}
.header-user-nav a:hover {
  color: #ffc66b;
  transition-duration: 0.5s;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .header-user-nav a {
    margin-left: 6px;
    font-size: 12px;
  }
}
.header-user-nav p {
  color: #ffffff;
  padding: 0px 3px;
}
.header-phone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-phone i {
  padding-right: 5px;
  color: #fffffF;
  font-size: 20px;
}
.header-phone-block h5 {
  margin-bottom: 0px;
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 15px;
  color: #fffffF;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .header-phone-block h5 {
    font-size: 12px;
  }
}
.header-phone-block a {
  color: #fffffF;
  text-decoration: none;
  font-size: 12px;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .header-phone-block a {
    font-size: 10px;
  }
}
.header-product a {
  color: #ffffff;
  font-size: 15px;
  padding: 8px;
  font-family: Tahoma-Bold;
  font-weight: 700;
}
.header-product a:hover {
  color: #ffc66b;
  transition-duration: 0.5s;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .header-product a {
    font-size: 11px;
    padding: 5px;
  }
}
.header-search input {
  border: none;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #6c757d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (min-width: 0px) and (max-width: 1140px) {
  .header-search input {
    font-size: 12px;
  }
}
.header-search input:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.header-search button {
  background-color: #fff;
  color: #6c757d;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 40px;
}
.header-search button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.header-card button {
  width: 100%;
  height: 40px;
  background-color: #fa3f3e;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: none;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .header-card button {
    font-size: 13px;
  }
}
.header-card button i {
  padding-right: 15px;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .header-card button i {
    padding-right: 5px;
  }
}
.header-card button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
}
/* main section */
main {
  padding: 20px 0px;
}
.swiper-container {
  width: 100%;
}
.swiper-container-products {
  width: 100%;
  height: auto;
}
.main-bar-slider h2 {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 28px;
  color: #525151;
  padding-bottom: 15px;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .main-bar-slider h2 {
    font-size: 20px;
  }
}
.main-products-block {
  box-shadow: 0px 0px 24px 0px rgba(233, 233, 241, 0.4);
  margin-top: -80px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}
.main-products-block button {
  border-radius: 5px;
  width: 100%;
  height: 40px;
  color: #3b4256;
  font-size: 18px;
  padding: 0px 5px;
  font-family: Tahoma-Bold;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: #fff;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .main-products-block button {
    font-size: 12px;
  }
}
.main-products-block button i {
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  font-size: 20px;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .main-products-block button i {
    margin-left: 7px;
    margin-top: 3px;
    font-size: 14px;
  }
}
.main-products-block-content ul {
  display: block;
  margin: 0;
  list-style: none;
  padding-left: 20px;
  max-height: 0px;
  overflow: hidden;
}
.main-products-block-content ul li a {
  color: #3b4256;
}
.main-slider-products {
  margin-top: 50px;
}
.main-slider-products-head {
  display: flex;
  justify-content: space-between;
}
.main-slider-products-head h2 {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 28px;
  color: #525151;
  padding-bottom: 15px;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .main-slider-products-head h2 {
    font-size: 20px;
  }
}
.main-slider-products-slide {
  border: 1px solid #dcdcdc;
  padding: 15px;
}
.main-slider-products-slide h5 {
  font-family: Tahoma-Regular;
  font-weight: 400;
  font-size: 14px;
}
.main-slider-products-slide span {
  font-family: Tahoma-Regular;
  font-weight: 400;
  color: #56d42f;
  line-height: 1.538;
  font-size: 13px;
}
.main-slider-products-slide p {
  font-family: Tahoma-Regular;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  margin-bottom: 5px;
}
.main-slider-products-slide p span {
  font-family: Tahoma-Bold;
  font-weight: 700;
  margin-left: 3px;
  font-size: 14px;
  color: #fa3f3e;
}
.main-slider-products-slide-cart {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.main-slider-products-slide-cart button {
  outline: none;
  font-size: 10px;
  border-radius: 5px;
  height: 25px;
  width: 82px;
  border: none;
}
@media (min-width: 0px) and (max-width: 959px) {
  .main-slider-products-slide-cart button {
    font-size: 8px;
  }
}
.main-slider-products-navigtion {
  display: flex;
  float: right;
}
.main-slider-products-navigtion button {
  margin-left: 10px;
}
.main-form {
  padding: 30px 0px;
}
.main-form h2 {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 28px;
  color: #525151;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .main-form h2 {
    font-size: 20px;
  }
}
.main-form form {
  display: flex;
  flex-direction: column;
}
.main-form form input {
  margin: 10px 0px;
  width: 50%;
  border-radius: 5px;
}
.main-form form textarea {
  width: 50%;
  border-radius: 5px;
}
.main-form form button {
  margin-top: 10px;
  width: 50%;
}
.main-yandex {
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0px 0px 24px 0px rgba(233, 233, 241, 0.4);
  display: flex;
  align-items: center;
}
.main-plus {
  margin-top: 30px;
}
.main-plus h2 {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 28px;
  color: #525151;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .main-plus h2 {
    font-size: 20px;
  }
}
.main-anonce {
  margin-top: 30px;
}
.main-anonce h5 {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 15px;
  color: #737373;
}
.main-anonce img {
  margin-top: 13px;
}
.main-anonce span {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 11px;
  color: #aaaaaa;
}
.main-anonce p {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 12px;
}
.main-anonce a {
  color: #fa3f3e;
  font-size: 13px;
  font-family: Tahoma-Bold;
  font-weight: 700;
}
.main-anonce-line {
  height: 1px;
  width: 100%;
  background-color: #c6c6c6;
  margin: 20px 0px;
}
.main-anonce-catalog {
  display: flex;
  align-items: center;
}
.main-anonce-catalog-down {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.main-anonce-catalog-down a {
  margin-top: 12px;
  color: #000000;
  font-size: 11px;
}
#order-btn {
  background-color: #fa3f3e;
  color: #fff;
}
#order-btn:hover {
  background-color: #fff;
  border: 1px solid #fa3f3e;
  color: #fa3f3e;
}
#add-to-cart {
  background-color: #fff;
  border: 1px solid #fa3f3e;
  color: #fa3f3e;
}
#add-to-cart:hover {
  background-color: #fa3f3e;
  color: #fff;
}
.active-products {
  min-height: 270px;
}
/* main-plus */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.info {
  width: 100%;
  padding: 35px 0px;
}
.info-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.info-header-line {
  height: 1px;
  width: 100%;
  background-color: #d8d8d8;
  position: absolute;
  margin-top: 35px;
}
.info-header-tab {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 18px;
  color: #525151;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .info-header-tab {
    font-size: 14px;
  }
}
.info-header-tab:after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  margin-top: 4px;
  transition: 0.4s;
  background-color: #fa3f3e;
}
.info-header-tab:hover:after {
  width: 100%;
}
.info-tabcontent {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  transition: 0.3s;
}
.info-tabcontent img {
  height: 200px;
}
.info-tabcontent .description {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .info-tabcontent .description {
    margin-left: 30px;
  }
}
.info-tabcontent .description h2 {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 24px;
  color: #525151;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .info-tabcontent .description h2 {
    font-size: 18px;
  }
}
.info-tabcontent .description ul {
  margin-top: 25px;
  padding-left: 15px;
  list-style: url(/img/main/marker.png);
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 14px;
  color: #525151;
}
@media (min-width: 0px) and (max-width: 1140px) {
  .info-tabcontent .description ul {
    font-size: 12px;
    margin-top: 15px;
  }
}
.info-tabcontent .description ul li {
  margin-top: 10px;
}
.info .hide {
  display: none;
}
.info .show {
  display: flex;
}
/* navigation on the footer section */
.navigation-block {
  display: flex;
  flex-direction: column;
}
.navigation-block h4 {
  color: #3b4256;
  font-size: 14px;
}
.navigation-block a {
  padding: 3px 0px;
  color: #9ba3ac;
  font-size: 12px;
}
.navigation-block h3 {
  margin-top: 10px;
  color: #3b4256;
  font-size: 14px;
}
.navigation-block p {
  margin-bottom: 0;
  padding: 3px 0px;
  color: #9ba3ac;
  font-size: 12px;
}
.navigation-block-social i {
  cursor: pointer;
  color: #6c757d;
}
.navigation-block-social i:hover {
  color: #2e72b1;
}
.grey-line-nav {
  width: 100%;
  height: 1px;
  background-color: #dbe2ea;
  position: absolute;
}
/* footer */
footer {
  padding: 10px 0px;
  background-color: #e40000;
}
footer p {
  font-size: 11px;
  margin: 0;
  color: #fffffF;
}
.footer-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
