/* main color */
.hover-link:hover {
  color: #ffc66b;
  transition-duration: 0.5s;
}
.hover-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
}
.head-text {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 32px;
  color: #525151;
}
/* main fonts */
@font-face {
  font-family: Tahoma-Regular;
  src: url(/font/Tahoma.ttf);
}
@font-face {
  font-family: Tahoma-Bold;
  src: url(/font/Tahoma-Bold.ttf);
}
.tah-reg {
  font-family: Tahoma-Regular;
  font-weight: 400;
}
.tah-bold {
  font-family: Tahoma-Bold;
  font-weight: 700;
}
/* main settings */
/* header section */
.grey-line {
  width: 100%;
  height: 1px;
  background-color: #e3676c;
  margin-top: 4%;
  position: absolute;
}
header {
  padding: 20px;
  background-color: #d7252c;
}
.header-main-nav a {
  color: #ffffff;
  font-size: 14px;
  margin-left: 15px;
}
.header-main-nav a:hover {
  color: #ffc66b;
  transition-duration: 0.5s;
}
.header-user-nav i {
  color: #fffffF;
  font-size: 18px;
}
.header-user-nav a {
  color: #ffffff;
  font-size: 14px;
  margin-left: 10px;
}
.header-user-nav a:hover {
  color: #ffc66b;
  transition-duration: 0.5s;
}
.header-user-nav p {
  color: #ffffff;
  padding: 0px 3px;
}
.header-phone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-phone i {
  padding-right: 5px;
  color: #fffffF;
  font-size: 20px;
}
.header-phone-block h5 {
  margin-bottom: 0px;
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 15px;
  color: #fffffF;
}
.header-phone-block a {
  color: #fffffF;
  text-decoration: none;
  font-size: 12px;
}
.header-product a {
  color: #ffffff;
  font-size: 15px;
  padding: 8px;
  font-family: Tahoma-Bold;
  font-weight: 700;
}
.header-product a:hover {
  color: #ffc66b;
  transition-duration: 0.5s;
}
.header-search input {
  border: none;
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #6c757d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header-search input:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.header-search button {
  background-color: #fff;
  color: #6c757d;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header-search button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.header-card button {
  width: 100%;
  height: 40px;
  background-color: #fa3f3e;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: none;
}
.header-card button i {
  padding-right: 15px;
}
.header-card button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
}
/* main section */
main {
  padding: 20px 0px;
}
.swiper-container {
  width: 100%;
  height: 300px;
}
.main-bar-slider h2 {
  font-family: Tahoma-Bold;
  font-weight: 700;
  font-size: 32px;
  color: #525151;
  padding-bottom: 15px;
}
.main-products {
  height: 0;
}
.main-products-block {
  box-shadow: 0px 0px 24px 0px rgba(233, 233, 241, 0.004);
  margin-top: -80px;
  position: absolute;
  width: 94%;
  background-color: #fff;
}
.main-products-block button {
  width: 100%;
  height: 40px;
  color: #3b4256;
  font-size: 18px;
  padding: 0px 5px;
  font-family: Tahoma-Bold;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: #fff;
}
.main-products-block button i {
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  font-size: 20px;
}
.main-products-block-content ul {
  display: block;
  margin: 0;
  list-style: none;
  padding-left: 20px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.4s linear;
  -moz-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
}
.main-products-block-content ul li a {
  color: #3b4256;
}
.active-products {
  min-height: 500px;
  -webkit-transition: max-height 0.4s linear;
  -moz-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
}
/* navigation on the footer section */
.navigation-block {
  display: flex;
  flex-direction: column;
}
.navigation-block h4 {
  color: #3b4256;
  font-size: 14px;
}
.navigation-block a {
  padding: 3px 0px;
  color: #9ba3ac;
  font-size: 12px;
}
.navigation-block h3 {
  margin-top: 10px;
  color: #3b4256;
  font-size: 14px;
}
.navigation-block p {
  margin-bottom: 0;
  padding: 3px 0px;
  color: #9ba3ac;
  font-size: 12px;
}
.navigation-block-social i {
  cursor: pointer;
  color: #6c757d;
}
.navigation-block-social i:hover {
  color: #2e72b1;
}
.grey-line-nav {
  width: 100%;
  height: 1px;
  background-color: #dbe2ea;
  position: absolute;
}
/* footer */
footer {
  padding: 10px 0px;
  background-color: #e40000;
}
footer p {
  font-size: 11px;
  margin: 0;
  color: #fffffF;
}
.footer-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
